@font-face {
  font-family: Nevduplenysh;
  src: url(fonts/Nevduplenysh-Regular.otf);
}

html {
  background-color: rgb(229, 186, 153);
}

center {
  background-color: rgb(255, 256, 189);
  font-family: Nevduplenysh;
  font-size: xx-large;
  display: block;
  width: 100%;
  line-height: 220%;
  color: rgb(65, 22, 22)
}

img[name="below_pic"] {
  width: 50pc;
  position: fixed;
  bottom: 0;
  right: 0;
}

div {
  position: relative;
}

.RecipeText {
  font-size: large;
  background-color: rgba(255, 255, 255, 0.5);
  width: fit-content;
  padding-left: 10px;
}

button{
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(65, 22, 22);
    color: rgb(255, 256, 189);
    padding: 10px 15px;
}


.dropdown-content {
  display: none;
  width: fit-content;
  background: bisque;
  list-style: none;
  max-height: 400px;
  overflow: hidden auto;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.show {
  display: block;
}

.dropdown-content a {
  font-size: x-large;
  text-decoration: none;
  padding-bottom: 5px;
  padding-top: 5px;
  display: block;
  color:rgb(65, 22, 22);
}
*::-webkit-scrollbar {
  background-color: rgb(255, 256, 189);
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color:rgb(65, 22, 22);
  border-radius: 20px;
}