@font-face {
    font-family: Nevduplenysh;
    src: url(fonts/Nevduplenysh-Regular.otf);
}

html {
    background-color: rgb(229, 186, 153);
}
center {
    background-color: rgb(255, 256, 189);
    font-family: Nevduplenysh;
    font-size: xx-large;
    display: block;
    width: 100%;
    line-height: 220%;
    color: rgb(65, 22, 22)
}

img[name="below_pic"] {
    width: 50pc;
    position: fixed;
    bottom: 0;
    right: 0;
}
li {
    font-size: x-large;
    color: rgb(65, 22, 22); 
}

/* Меню боковой панели */
.sidepanel {
    height: 100%; /* Укажите высоту */
    width: 0; /* 0 ширина-измените это с помощью JavaScript */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Оставайтесь на вершине */
    top: 0;
    left: 0;
    background-color: rgb(255, 256, 189); /* Черный */
    overflow-x: hidden; /* Отключить горизонтальную прокрутку */
    transition: 0.5s; /* 0.5 секунды эффект перехода для скольжения в боковой панели */
  }
  
  /* Боковая панель ссылок */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(112, 61, 61);
    display: block;
    background-color: rgb(255, 256, 189);
    transition: 0.3s;
  }
  
  /* При наведении курсора мыши на навигационные ссылки измените их цвет */
  .sidepanel a:hover {
    color: rgb(255, 256, 189);
    background-color: #864848;
  }
  

  
  /* Стиль кнопка, которая используется для открытия боковой панели */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(65, 22, 22);
    color: rgb(255, 256, 189);
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #864848;
  }